<?xml version="1.0"?>
<config>
    <modules>
        <Eurotext_TranslationManager>
            <version>1.1.2.2</version>
        </Eurotext_TranslationManager>
    </modules>
    <global>
        <models>
            <eurotext_translationmanager>
                <class>Eurotext_TranslationManager_Model</class>
            </eurotext_translationmanager>
        </models>
        <helpers>
            <eurotext_translationmanager>
                <class>Eurotext_TranslationManager_Helper</class>
            </eurotext_translationmanager>
        </helpers>
        <models>
            <eurotext_translationmanager>
                <class>Eurotext_TranslationManager_Model</class>
                <resourceModel>eurotext_translationmanager_resource</resourceModel>
            </eurotext_translationmanager>
            <eurotext_translationmanager_resource>
                <class>Eurotext_TranslationManager_Model_Resource</class>
                <entities>
                    <project>
                        <table>eurotext_project</table>
                    </project>
                </entities>
            </eurotext_translationmanager_resource>
        </models>
        <resources>
            <eurotext_translationmanager_setup>
                <setup>
                    <module>Eurotext_TranslationManager</module>
                    <class>Eurotext_TranslationManager_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </eurotext_translationmanager_setup>
        </resources>
        <blocks>
            <eurotext_translationmanager>
                <class>Eurotext_TranslationManager_Block</class>
            </eurotext_translationmanager>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <eurotext_translationmanager before="Mage_Adminhtml">Eurotext_TranslationManager_Adminhtml</eurotext_translationmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Eurotext_TranslationManager>
                    <files>
                        <default>Eurotext_TranslationManager.csv</default>
                    </files>
                </Eurotext_TranslationManager>
            </modules>
        </translate>
        <layout>
            <updates>
                <eurotext_translationmanager>
                    <file>eurotext/translationmanager.xml</file>
                </eurotext_translationmanager>
            </updates>
        </layout>
    </adminhtml>
</config>
